html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: Roboto, sans-serif;
    background-image: url("../image/Ellipse 1.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.img_category {
    width: 62px;
    height: 62px;
    vertical-align: middle;
}

.header {
    position: relative;
}

ul {
    list-style: none;
}

.p_cate {
    margin-top: 20px;
}

.grocery {
    margin-left: 600px;
    padding-top: 10px;
}

.category {
    display: flex;
    margin-left: 30px;
}

.margin_category {
    margin-left: 30px;
}

.ul_cat li {
    display: none;
}

.ul_cat:hover li {
    display: block;
    margin-left: 20px;
    border-bottom: 1px solid black;
}

.a_categories {
    cursor: pointer;
}

/*.logo {*/
/*    width: 100%;*/
/*    position: absolute;*/
/*}*/
.burger {
    /*position: absolute;*/
    top: 40px;
    left: 40px;
    border-style: none;
    cursor: pointer;
    background: none;
}

.section_discount {
    /*position: absolute;*/
    top: 200px;
    /*width: 1000px;*/
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.container {
    margin: auto;
    /*  background-image: linear-gradient(90deg, white, lightgreen, lightgreen);*/
}

.navbar {
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
}

.navbar .menu-items {
    display: flex;
    background-image: linear-gradient(20deg, white, white, white, white, lightgreen);
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #0e2431;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0 0;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0 100%;
    transition: transform 0.4s ease-in-out;
}

.navbar .menu-items {
    padding-top: 120px;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    height: 100vh;
    width: 25%; /* Ширина випливаючого меню*/
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px;
    padding-left: 50px;
    transition: transform 0.5s ease-in-out;
    text-align: left;
    z-index: 10;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.logo {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 1.2rem;
    color: #0e2431;
}

.nav-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo {
    display: none;
}

.container .nav-container {
    background-color: red;
}

.list_image {
    width: 15px;
    height: 15px;
    /*border-bottom: 1px solid black;*/
}

.menu-items ul {
    border-bottom: 1px solid black
}

.block {
    text-align: center;
    display: flex;
    align-items: center
}
.in_block {
    background: #FFFFFF;
    box-shadow: 1px 1px 12px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 125px;
    margin: 25px;
    text-align: center;
}
.button_add {
    background: rgba(2, 222, 97, 0.77);
    border-radius: 2px;
    border: none;
    width: 60px;
}

.button_add:active {
    background-color: darkgreen;
    color: #ffffff;
}

.groceries {
    width: 170px;
    margin-left: 10px;
    background: rgba(2, 222, 97, 0.77);
    border-radius: 2px;
    height: 25px;
}
.img-product {
    width: 92px;
    height: 75px;
}